/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #FFFEF8;
	
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}
.portfolio-title h2{
	margin: 0 25px 0 0 ;
} 
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1;
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
figure .admin__modifer {
    margin: 5px 0 0 57px;
}
article .admin__modifer {
    margin: 0 0 10px 0;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 3em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	transition: all 0.5s ease;
	border: 2px solid #1D6154;
}
#contact input[type="submit"]:hover{
	color: #1D6154;
	background-color: white;
	scale: 1.05;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/* ################################################### */
/* ############# MODIFICATION PERSO ################## */
/* ################################################### */
html {
	scroll-behavior: smooth;
}
/* HEADER */
a{
	text-decoration: none;
	color: #1D6154;
}

/* GESTION DES PROJETS / FILTRES */
.error{
	grid-column: 2;
	text-align: center;
	font-size: 2rem;
	color: red;
}


.filters{
	display: flex;
	justify-content: center;
	margin: 40px 0;
}
.filter__btn, .btn-admin{
	font-family: 'Syne';
	padding: 10px 20px;
	margin: 0 15px;
	border: 1px solid #1D6154;
	border-radius: 25px;
	color: #1D6154;
	background-color: white;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.5s ease;
}
.filter__btn:hover, .btn-admin:hover{
	color: white;
	background-color: #1D6154;
	scale: 1.05;
}
.btn-select, .btn-admin{
	color: white;
	background-color: #1D6154;
}



/* LOGIN */
.login{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;

}
.login a{
	text-decoration: underline;
	margin-bottom: 100px;
}
.login a:hover {
	color: #B1663C;
}
.login__form{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	width: 35%;
}
.login__form input{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.login__form label{
	margin: 3em 0 1em 0;
}
.login__form textarea{
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.login__form input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	border: 2px solid #1D6154;
	margin : 3em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	transition: all 0.5s ease;
}
.login__form input[type="submit"]:hover{
	color: #1D6154;
	background-color: white;
	scale: 1.05;
}

/* ADMIN EDITION MODE  */

.admin__rod{
	position: fixed;
	right: 0;
	top: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 40px;

	background-color: black;
}

.admin__rod button{
	font-family: 'work sans';
	font-weight: 550;
	background-color: white;
	border-radius: 60px ;
	padding: 5px 15px;
	margin: 0 25px;
	border: none;
	transition: all 0.2s ease;
}
.admin__rod button:hover{
	background-color: #1D6154;
	color: white;
}

.admin__modifer{
	display: flex;
	column-gap: 5px;
	color: black;
}
.admin__rod .admin__modifer{
	color: white;
}
.portfolio-title{
	display: flex;
	justify-content: center;
	align-items: center;
}

/* MODALE  */

/* <aside class="modale" aria-hidden="true">
	<i class="fa-solid fa-xmark"></i>
	<h2>Galerie photo</h2>
	<div>
		<!-- generation des photos dynamiquement -->
	</div>
	<button>Ajouter une photo</button>
	<a href="">Supprimer la galerie</a>
</aside> */

.modale{
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);

	animation: fadeIn 0.4s both;
}
.modale[aria-hidden="true"]{
	animation-name: fadeOff;
}

.modale-wrapper{
	display: flex;
	flex-direction: column;

	/* A CHANGER */
	/* align-items: center;
	justify-content: center; */

	overflow: auto;
	max-width: calc(98vh - 20px);
	max-height: calc(98vh - 20px);
	width: 700px;
	padding: 30px;
	background-color: white;

	animation: slideFromTop 0.4s both;
}
.modale[aria-hidden="true"] .modale-wrapper{
	animation-name: slideFromBottom;
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}
@keyframes slideFromTop {
	from {transform: translateY(-75px);}
	to {transform: translateY(0px);}
}

@keyframes fadeOff {
	from {opacity: 1;}
	to {opacity: 0;}
}
@keyframes slideFromBottom {
	from {transform: translateY(0px);}
	to {transform: translateY(75px);}
}

.js-modale-close{
	display: flex;
	justify-content: flex-end;
}
.modale-wrapper h2{
	display: flex;
	justify-content: center;
}
.js-admin-projets::after{
	display: flex;
	
	content: " ";
	border-top: 1px solid black;
	height: 1px;
	width: 80%;
	margin: 30px auto;
}
.btn-admin{
	display: flex;
	justify-content: center;
	width: 300px;
	margin: 30px auto;
}
.btn-clear-admin{
	display: flex;
	justify-content: center;
	color: #D65353;
}